.git
.github
.vscode/**
.vscode-test/**
.env

images/**
!images/icon.png
public/favicon.ico
src/**

node_modules/**

.gitignore
.yarnrc
eslint.config.js
package-lock.json
tsconfig.json
tsconfig.app.json
tsconfig.node.json
tsconfig.extension.json
vite.config.ts
vitest.setup.ts
**/.DS_Store
index.html
*.md
*.bak
*.log

.spec/**

docker-compose.yml
