.selectedSvg {
    filter: drop-shadow(0 0 5px var(--mui-palette-erd-selection)) drop-shadow(0 0 5px var(--mui-palette-erd-selection)) drop-shadow(0 0 5px var(--mui-palette-erd-selection));
}

.selectableSvg {
    &:hover {
        filter: drop-shadow(0 0 5px var(--mui-palette-erd-selection)) drop-shadow(0 0 5px var(--mui-palette-erd-selection)) drop-shadow(0 0 5px var(--mui-palette-erd-selection));
    }
}

.deactiveSvg {
    &:hover {
        filter: drop-shadow(0 0 5px var(--mui-palette-erd-deactive)) drop-shadow(0 0 5px var(--mui-palette-erd-deactive));
    }
}

.inactiveDraggedSvg {
    filter: drop-shadow(0 0 5px var(--mui-palette-erd-deactive)) drop-shadow(0 0 5px var(--mui-palette-erd-deactive));
}

.selectedLabel {
    filter: drop-shadow(0 0 5px var(--mui-palette-erd-selection)) drop-shadow(0 0 5px var(--mui-palette-erd-selection));
}

.selectedBox {
    filter: drop-shadow(0 0 7px var(--mui-palette-erd-selection));
}